In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler , LabelEncoder
import pickle

In [3]:
## Load the dataset

df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## Drop irrevalent Columns...
df = df.iloc[: , 3:]

In [5]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
## Encode the Categorical Variable

le_gender = LabelEncoder()
df['Gender'] = le_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
## OneHotEnoder on Geography columns

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output= False , drop='first')
geo_encoder = ohe.fit_transform(df[['Geography']])
geo_encoder

array([[0., 0.],
       [0., 1.],
       [0., 0.],
       ...,
       [0., 0.],
       [1., 0.],
       [0., 0.]], shape=(10000, 2))

In [8]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_Germany', 'Geography_Spain'], dtype=object)

In [9]:
geo_encoded_df = pd.DataFrame(geo_encoder ,columns=ohe.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_Germany  Geography_Spain
0                   0.0              0.0
1                   0.0              1.0
2                   0.0              0.0
3                   0.0              0.0
4                   0.0              1.0
...                 ...              ...
9995                0.0              0.0
9996                0.0              0.0
9997                0.0              0.0
9998                1.0              0.0
9999                0.0              0.0

[10000 rows x 2 columns]

In [10]:
## Combine all the Columns with the original data

df = pd.concat([df.drop('Geography', axis = 1) , geo_encoded_df] , axis =1)

In [11]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,0.0,0.0

In [13]:
## Split data into independent and independent Features
X = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

In [14]:
## Split into Train and Test Data
X_train , X_test , y_train , y_test = train_test_split(X,y , test_size=0.2 , random_state= 42)

## Scaling --> Standard Sclar
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(le_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(ohe, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [16]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,1.0

## Train ANN with Regression Problem Statement

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [19]:
## Build Our ANN Models...
model = Sequential([
    Dense(64 , activation='relu' , input_shape= (X_train.shape[1] ,)),  ##  HL1 --> Connected with input layer 
    Dense(32 , activation='relu'),  ##  HL2...
    Dense(1) ##  Output Layer...   # Default activation --> linear
])

## Compile the Model
model.compile(optimizer='adam' , loss="mean_absolute_error" , metrics=['mae'])

model.summary()

d:\All ML PROJECT\ANN End to End Project\venv\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           768 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,881 (11.25 KB)

 Trainable params: 2,881 (11.25 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime

## Set up the Tensorboard

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir , histogram_freq= 1)

In [21]:
## Setup Early Stopping...
early_stopping_callback = EarlyStopping(monitor='val_loss' , patience=10 , restore_best_weights=True)

In [22]:
## Training the model
history = model.fit(
    X_train , y_train , validation_data=(X_test , y_test), epochs = 100,
    callbacks= [tensorflow_callback , early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 100370.9141 - mae: 100370.9141 - val_loss: 98489.3125 - val_mae: 98489.3125
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99526.2656 - mae: 99526.2656 - val_loss: 96796.6719 - val_mae: 96796.6719
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 96574.8203 - mae: 96574.8203 - val_loss: 92482.3672 - val_mae: 92482.3672
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 90824.0781 - mae: 90824.0781 - val_loss: 85408.0938 - val_mae: 85408.0938
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 82594.8750 - mae: 82594.8750 - val_loss: 76444.4922 - val_mae: 76444.4922
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 73100.1562 - mae: 73100.1562 - val_loss: 67363.3516 - val_mae: 67363.3516
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 64309.3477 - mae: 64309.3477 - val_loss: 59834.5898 - val_mae: 59834.5898
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 57700.3828 - mae: 57700.3828 - val_loss: 54749.6328 - val_mae: 54749.6328
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53631.6250 - mae: 53631.6250 - val_loss: 52026.7070 - val_mae: 52026.7070
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51607.6211 - mae: 51607.6211 - val_loss: 50967.0547 - val_mae: 50967.0547
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50731.8164 - mae: 50731.8164 - val_loss: 50617.9609 - val_mae: 50617.9609
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50386.0000 - mae: 50386.0000 - val_loss: 50509.6445 - val_mae: 50509.6445
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50232.0078 - mae: 50232.0078 - val_loss: 50482.0195 - val_mae: 50482.0195
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50146.7656 - mae: 50146.7656 - val_loss: 50453.4727 - val_mae: 50453.4727
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50085.8047 - mae: 50085.8047 - val_loss: 50432.8711 - val_mae: 50432.8711
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50042.1133 - mae: 50042.1133 - val_loss: 50416.6094 - val_mae: 50416.6094
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49996.0000 - mae: 49996.0000 - val_loss: 50399.2461 - val_mae: 50399.2461
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49960.3477 - mae: 49960.3477 - val_loss: 50378.8086 - val_mae: 50378.8086
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49924.7734 - mae: 49924.7734 - val_loss: 50357.0312 - val_mae: 50357.0312
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49893.8086 - mae: 49893.8086 - val_loss: 50350.0977 - val_mae: 50350.0977
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49868.8320 - mae: 49868.8320 - val_loss: 50344.7109 - val_mae: 50344.7109
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49842.3125 - mae: 49842.3125 - val_loss: 50332.9727 - val_mae: 50332.9727
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49817.8789 - mae: 49817.8789 - val_loss: 50318.6562 - val_mae: 50318.6562
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49796.4219 - mae: 49796.4219 - val_loss: 50307.3672 - val_mae: 50307.3672
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49775.5625 - mae: 49775.5625 - val_loss: 50293.0430 - val_mae: 50293.0430
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49759.0195 - mae: 49759.0195 - val_loss: 50299.2422 - val_mae: 50299.2422
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49742.5781 - mae: 49742.5781 - val_loss: 50296.9648 - val_mae: 50296.9648
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49729.0352 - mae: 49729.0352 - val_loss: 50292.3438 - val_mae: 50292.3438
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49709.7930 - mae: 49709.7930 - val_loss: 50295.6758 - val_mae: 50295.6758
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49698.3555 - mae: 49698.3555 - val_loss: 50287.1523 - val_mae: 50287.1523
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49682.6289 - mae: 49682.6289 - val_loss: 50274.9062 - val_mae: 50274.9062
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49673.2031 - mae: 49673.2031 - val_loss: 50277.0898 - val_mae: 50277.0898
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49658.9062 - mae: 49658.9062 - val_loss: 50275.9609 - val_mae: 50275.9609
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49645.3320 - mae: 49645.3320 - val_loss: 50270.7148 - val_mae: 50270.7148
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49641.4844 - mae: 49641.4844 - val_loss: 50270.7695 - val_mae: 50270.7695
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49628.1914 - mae: 49628.1914 - val_loss: 50268.2383 - val_mae: 50268.2383
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49615.4375 - mae: 49615.4375 - val_loss: 50268.2227 - val_mae: 50268.2227
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49607.7266 - mae: 49607.7266 - val_loss: 50279.4453 - val_mae: 50279.4453
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49596.3086 - mae: 49596.3086 - val_loss: 50271.1250 - val_mae: 50271.1250
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49589.9922 - mae: 49589.9922 - val_loss: 50274.7070 - val_mae: 50274.7070
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49578.1797 - mae: 49578.1797 - val_loss: 50278.8008 - val_mae: 50278.8008
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49572.9336 - mae: 49572.9336 - val_loss: 50267.2383 - val_mae: 50267.2383
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49564.4414 - mae: 49564.4414 - val_loss: 50274.7070 - val_mae: 50274.7070
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49557.7578 - mae: 49557.7578 - val_loss: 50286.6445 - val_mae: 50286.6445
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49548.1953 - mae: 49548.1953 - val_loss: 50278.2656 - val_mae: 50278.2656
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49540.9922 - mae: 49540.9922 - val_loss: 50287.4688 - val_mae: 50287.4688
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49532.5508 - mae: 49532.5508 - val_loss: 50296.8789 - val_mae: 50296.8789
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49523.5547 - mae: 49523.5547 - val_loss: 50285.1406 - val_mae: 50285.1406
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49519.7891 - mae: 49519.7891 - val_loss: 50288.4805 - val_mae: 50288.4805
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49511.0391 - mae: 49511.0391 - val_loss: 50290.9688 - val_mae: 50290.9688
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49503.4922 - mae: 49503.4922 - val_loss: 50295.0586 - val_mae: 50295.0586
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49499.1953 - mae: 49499.1953 - val_loss: 50295.5938 - val_mae: 50295.5938

In [40]:
 ## Load the Tensorboard Extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [ ]:
# %tensorboard --logdir logs/fit
# %tensorboard --logdir=tensorboard_logs
%tensorboard --logdir=logs/fit

Reusing TensorBoard on port 6008 (pid 177264), started 0:00:01 ago. (Use '!kill 177264' to kill it.)

In [44]:
## Evaluate the model on Test data
test_loss , test_mae = model.evaluate(X_test , y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50267.2383 - mae: 50267.2383
Test MAE : 50267.23828125

In [45]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.